<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.8.2" targetFramework="net40" />
  <package id="jQuery.Templates" version="0.1" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.9.2" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR" version="1.0.0-alpha2" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Core" version="1.0.0-alpha2" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Hosting.AspNet" version="1.0.0-alpha2" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Hosting.Common" version="1.0.0-alpha2" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.JS" version="1.0.0-alpha2" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="ServiceStack" version="3.9.25" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.25" targetFramework="net40" />
  <package id="ServiceStack.Host.AspNet" version="3.9.0" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.26" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="3.9.25" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.26" targetFramework="net40" />
  <package id="WebActivator" version="1.5.1" targetFramework="net40" />
</packages>